.new-product-page{
    background-color: var(--background-color);
    height: 100vh;
    width: 100%;
    padding-top: 15vh;
    padding-bottom: 4vh;
}

.new-product-container{

    background-color: var(--white);
    padding: 3vh 2vw;
    width: 54vw;
    margin-left: 25vw;
    border-radius: 0.6rem;
    border: 1px solid var(--border-color);
}

.new-product-container h3{

    text-align: center;
    color: var(--text-color);
    margin-bottom: 3vh;
}

.new-product-container button{

    width: 50%;
    margin-left: 25%;
}

.new-product-body{
    height: 60vh;
    overflow-y: scroll;
    padding: 2vh 1.5vw;
    margin-bottom: 2vh;
}

.new-product-body span{
    display: flex;
    justify-content: space-between;
}

.new-product-body span .span-21 input{
    width: 20vw;
}
.new-product-body span .span-22 input{
    width: 25vw;
}

.new-product-body span .span-21 input{
    width: 20vw;
}
.new-product-body span .span-22 input{
    width: 25vw;
}

.new-product-body span .span-3 input{
    width: 14.7vw;
}
.new-product-body span .span-3 select{
    width: 14.7vw;
}

.new-product-body input{
    background-color: var(--white);
    border: 1px solid var(--border-color);
    color: var(--text-color);
}
.new-product-body input:focus{
    outline: none;
    background-color: var(--white);
    border-color: var(--primary-color);
    color: var(--text-color);
}
.new-product-body label{
    color: var(--text-color);
}

.new-product-body span select{

    background-color: var(--white);
    border: 1px solid var(--border-color);
    color: var(--text-color);
}
.new-product-body span option{

    color: var(--text-color);
}

.new-product-body section{
    margin: 3vh 0;

}

.new-product-body section h4{
    color: var(--text-color);

}

.new-product-body section span{
    display: flex;
    justify-content: start;
    gap: 30px;
}

.new-product-body section span label{

    color: var(--text-color);
}