.Footer{

    background-color: var(--text-color);
    color: var(--white);
    padding: 3vh 3vw;
    margin-top: 3vh;

}
.Footer h4{

    margin-left: 2vw;
}

.footer-body{
    display: flex;
    justify-content: space-evenly;
    gap: 10vw;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.footer-body ul{

    
}

.footer-body ul li{
    list-style: none;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.footer-body ul li:hover{
    list-style: none;
    color: var(--white);
}
.footer-bottom{


}

.footer-bottom p{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}